<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Belajar Scraping Golang</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="box">
        <h1 class="title">
            Psychosocial
        </h1>
        <p class="lyric">I did my time, and I want out
            So effusive fade, it doesn't cut
            The soul is not so vibrant
            The reckoning, the sickening
            Packaging subversion
            Pseudo-sacrosanct perversion
        </p>
        <p class="lyric">
            Go drill your deserts
            Go dig your graves
            Then fill your mouth with all the money you will save
            Sinking in, getting smaller again
            I'm done, it has begun
            I'm not the only one
        </p>
        <p class="lyric">
            And the rain will kill us all
            Throw ourselves against the wall
            But no one else can see
            The preservation of the martyr in me
        </p>
        <p class="lyric">
            Psychosocial!
            Psychosocial!
            Psychosocial!
            Psychosocial!
            Psychosocial!
            Psychosocial!
        </p>
    </div>
</body>
</html>